PORT=3000
DB_HOST=[GANTI_DENGAN_HOST_DARI_RAILWAY]
DB_PORT=[GANTI_DENGAN_PORT_DARI_RAILWAY]
DB_USER=[GANTI_DENGAN_USER_DARI_RAILWAY]
DB_PASSWORD=[GANTI_DENGAN_PASSWORD_DARI_RAILWAY]
DB_NAME=[GANTI_DENGAN_NAMA_DB_DARI_RAILWAY]
JWT_SECRET=rahasia_sangat_aman_123
FRONTEND_URL=https://finance-app-production-aee8.up.railway.app